.kittyKatcher {
	border: 1px solid black;
	margin: 20px auto;
	width: 800px;
	height: 60vh;
	position: relative;
	overflow: hidden;

	.character, .coin, .fish, .poop {
		position: absolute;
	}

	.character {
		bottom: 0;
		width: 75px;
	}

	.coin, .fish, .poop {
		width: 40px;
	}

	img {
		padding: 0;
		margin: 0;
		width: 100%;
	}

}

.fall {
	animation-name: fall;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-delay:0;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@keyframes fall {
	0% {
		top: -35px;
	}

	100% {
		top: 80vh;
	}
}
